<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LintTe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D24A90B21BD4C90A000B38D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D24A90C91BD4C90A000B38D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D24A90D41BD4C90A000B38D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
